<div  class="container text-center">
  <br>
  <h1>Sign up Page</h1>
  <br>
  <form id="wrapper">

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="exampleFormControlSelect1">Select Title</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Mr</option>
              <option>Mrs</option>
              <option>Ms</option>
            </select>
        </div>
        <div class="w-100"></div>
        <div class="form-group col-md-6">
            <label for="inputEmail4" class="col-form-label">Name</label>
            <input type="text" class="form-control" name="username"   id="inputEmail4" placeholder="Enter User Name" required>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4" class="col-form-label">Surname</label>
            <input type="password" class="form-control" name="password"  id="inputPassword4" placeholder=" Enter Surname" required>
        </div>
        <div class="form-group col-md-12">
          <label for="inputEmail4" class="col-form-label">Username</label>
          <input type="text" class="form-control" name="username"   id="inputEmail4" placeholder="Enter User Name" required>
      </div>
      <div class="form-group col-md-12">
          <label for="inputPassword4" class="col-form-label">Password</label>
          <input type="password" class="form-control" name="password"  id="inputPassword4" placeholder=" Enter Password" required>
      </div>
      <div class="form-group col-md-12">
        <label for="inputPassword4" class="col-form-label">Email</label>
        <input type="text" class="form-control" name="password"  id="inputPassword4" placeholder=" Enter Email" required>
      </div>

      <div class="form-group col-md-12">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox"> I agree to the SITE & Conditions, Privacy & Cookie policies.
            </label>
          </div>
      </div>
  </div>    
    <!-- end of form row div -->
          <button type="submit" name="submit" class="btn btn-primary btn-lg">Create Account</button>
  </form>
  
  </div>

  <br><br>